body{
    background-color: rgb(0, 0, 0);
    text-align: center;
}
    p  { 
        background-color: black;
        color: rgb(255, 255, 255);
        font-size: 50;
    }

    h1 {
        background-color: rgb(0, 0, 0);
        color: rgb(243, 49, 0);
        font-weight: 150px;
    }

    button{
        border: 50%;
        margin: 10px 20x 30px;
    }
